.form__button {
    padding: 5px;
    background-color: teal;
    color: white;
    border: none
}

.form__button:hover {
    background-color: hsl(180, 100%, 30%);
}

.task__button {
    background-color:green;
    color: white;
    border: none;
    width: 30px;
    height: 30px;
}
.task__button:active {
    border:solid black 1px;
    border-radius: 1px;
}
.task__button--remove {
    background-color: red;
    color: white;
    border: none;
    width: 30px;
    height: 30px;

}
.task__button--remove:active {
    border:solid black 1px;
    border-radius: 1px;
}