.section {
    background-color: #ddd;;
    padding: 5px;
}

.section__header {
    background-color: white;
    padding: 20px;
    margin-bottom: 1px;
    margin-top: auto;
    font-size: larger;
}

.section__list {
    background-color: white;
    margin: auto;
    padding: 20px;
}