.section {
    background-color: #ccc;
    padding: 5px;
}

.section__header {
    background-color: white;
    padding: 20px;
    margin-bottom: 1px;
    margin-top: auto;
    font-weight: 600;
    font-size: larger;
}

.section__list {
    background-color: white;
    margin: 0;
    list-style: none;
}